@keyframes moveRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(3.5rem);
    }
}

@keyframes moveLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-3.5rem);
    }
}

@keyframes moveUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(3.5rem);
    }
}

@keyframes moveDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-3.5rem);
    }
}